# Local dev or ide stuff
*.project
*.settings
*.sublime-*
.idea

.htaccess
composer.*
gsconfig.php
sitemap.xml
thumbs.db

plugins/
theme/
vendor/

backups/*
!backups/.htaccess

!backups/other/
backups/other/*
!backups/other/.htaccess

data/*
!data/.htaccess

!data/thumbs/
data/thumbs/*
!data/thumbs/.htaccess

!data/uploads/
data/uploads/*
!data/uploads/.htaccess

